/* Reset & Base */
* {
   margin: 0;
}

html,
body {
   margin: 0;
   padding: 0;
   font-family: zalando sans, sans-serif;
   scroll-behavior: smooth;
   color: #fff;
}

/* Header & Navigation */
header {
   background: #111;
   padding: 1em 2em;
   position: sticky;
   top: 0;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
}

nav img {
   width: 50px;
}

nav ul {
   list-style: none;
   display: flex;
   gap: 3em;
}

nav a {
   color: #fff;
   text-decoration: none;
   font-weight: 400;
}

button {
   color: white;
   background-color: #232323;
   border: 1px solid white;
   border-radius: 50px;
   padding: 12px 30px;
   box-shadow: 0 3px 12px black;
   font-size: 14px;
   transition: all 0.3s ease, color 0.3s ease;
}

button:hover {
   background-color: #2e2e2e;
   cursor: pointer;
   font-size: 14.5px;
}

/* main innhold */
h1 {
   font-family: orbitron;
   font-weight: 400;
   font-size: 3em;
   margin-top: -100px;
}

#section-hero {
   background: none, url(./img/Hero.png) center top / cover no-repeat fixed;
   text-shadow: 2px 2px 8px black;
   background-position: center top;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 60svh;
}

#section-hero p {
   font-size: 1em;
   letter-spacing: 2px;
   font-weight: 300;
   margin: 1em 0 4em 0;
   text-shadow: 2px 2px 6px black, 0 0 12px rgba(0, 0, 0, 0.7);
}

section {
   scroll-margin-top: 82px;
   background-color: #161616;
   display: flex;
   padding: 50px;
   justify-content: center;
}

section img {
   max-width: 400px;
   margin: 20px;
}

section article {
   max-width: 400px;
   margin: 20px;
   padding-top: 10px;
}

h3 {
   font-family: orbitron, sans-serif;
   font-weight: 400;
   font-size: 1.5em;
   margin-bottom: 20px;
}

p {
   font-size: 14px;
   letter-spacing: 2px;
   line-height: 27px;
   font-weight: 100;
}

article p {
   margin-bottom: 15px;
}

/* Section 4 */
#section4 {
   /* min-height: 70vh; */
   background: #111;
   padding: 1em 1em 4em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h2 {
   font-family: orbitron, sans-serif;
   font-weight: 400;
   font-size: 2em;
   margin: 40px;
}

.box-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   max-width: 1090px;
   margin: 0 auto;
   gap: 2.5rem;
}

.fact-box {
   max-width: 400px;
   min-width: 200px;
   padding: 2rem;
   text-align: center;
   background: #232323;
   border-radius: 15px;
   box-sizing: border-box;
}

footer {
   height: 20svh;
   background-color: #161616;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* siste side */
#space-mission {
   height: 100svh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
}

#space-mission-img {
   height: 100svh;
}
